<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
    </handlers>
    <security>
      <requestFiltering>
        <verbs allowUnlisted="false">
          <add allowed="true" verb="GET" />
          <add allowed="true" verb="POST" />
          <add allowed="true" verb="DELETE" />
          <add allowed="true" verb="PUT" />
        </verbs>
      </requestFiltering>
    </security>
    <rewrite>
      <rules>
        <rule enabled="true" name="FW/1" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.cfm/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="Detailed">
      <remove statusCode="404" subStatusCode="-1" />
    </httpErrors>
  </system.webServer>
</configuration>