<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule"/>
    </modules>
    <handlers>
      <remove name="WebDAV"/>
    </handlers>
    <security>
      <requestFiltering>
        <verbs allowUnlisted="false">
          <add allowed="true" verb="GET"/>
          <add allowed="true" verb="POST"/>
          <add allowed="true" verb="DELETE"/>
          <add allowed="true" verb="PUT"/>
        </verbs>
      </requestFiltering>
    </security>
    <rewrite>
      <rules>
        <rule name="block favicon" stopProcessing="true">
          <match url="favicon\.ico"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
          </conditions>
          <action statusCode="404" statusDescription="The requested file favicon.ico was not found" statusReason="The requested file favicon.ico was not found" subStatusCode="1" type="CustomResponse"/>
        </rule>
        <rule enabled="true" name="FW/1" stopProcessing="true">
          <match url="^(.*)$"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Rewrite" url="/index.cfm/{R:1}"/>
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="Detailed">
      <remove statusCode="404" subStatusCode="-1"/>
      <!-- <error path="404.htm" prefixLanguageFilePath="%SystemDrive%\inetpub\custerr\" responseMode="File" statusCode="404"/>-->
    </httpErrors>
    <isapiFilters>
      <filter name="ColdFusion" path="C:\ColdFusion2016\config\wsconfig\1\isapi_redirect.dll" preCondition="bitness64"/>
    </isapiFilters>
  </system.webServer>
</configuration>